body {
    font-family: 'Mina', sans-serif;
}

:root {
    --primary: #52667f;
    --primary-light: #7995b7;
    --primary-reversed: white;
}

.codeblock {
    margin: 1rem;
}

.text {
    margin: 1rem;
}

.bigtext {
    margin-top: 2rem;
}

.narrow {
    max-width: 600px;
}

.primary {
    background-color: var(--primary);
    color: var(--primary-reversed);
}

.primary-text {
    color: var(--primary);
}

.primary-text:hover {
    color: var(--primary-light);
}

.article-image{
    border-radius: 20px;
    object-fit: cover;
    height: 300px;
    width: 400px;
}

a {
    color: var(--primary);
}

pre {
    border-radius: 10px;
}

code {
    background-color: var(--primary-light);
    
    border-radius: 4px;
    color: var(--primary-reversed);
}

.hljs
{
    background-color: inherit;
}