<!--
<div class="has-text-centered">

    <p class="title">About me</p>
    <p>
        C# developer.
    </p>
    <br>
    <a href="https://jaroslaw-weber.github.io" class="button">more about me</a>
    <br><br>
    <span class="icon">
        <i class="far fa-lg fa-lightbulb"></i>
    </span>
    <br><br>


</div>
-->