<section class="section">
    <div class="container">
        <hr>
        <footer>
            <div class="has-text-centered">
                <p class="title">contact</p>
                <a class="button" href="mailto:jaroslaw.weber@gmail.com">jaroslaw.weber@gmail.com</a>
            </div>
        </footer>
    </div>
</section>