<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog - Jaroslaw Weber</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">


    <!-- highlighting syntax-->
    <link rel="stylesheet" href="../highlight/styles/github.css">
    <script src="../highlight/highlight.pack.js"></script>
    <link rel="stylesheet" href="highlight/styles/github.css">
    <script src="highlight/highlight.pack.js"></script>
    <!---->

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../style.css">
    

</head>