<section class="hero primary">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item primary"><i class="fas fa-plane"></i></div>
            <a class="navbar-item primary" href="https://jaroslaw-weber.github.io/blog">Blog</a>
            <div class="navbar-item primary"><i class="fas fa-cloud"></i></div>
            <a class="navbar-item primary" href="https://jaroslaw-weber.github.io">Portfolio</a>
        </div>
    </nav>
</section>