<!DOCTYPE html>
<html>
{{>head}}

<body>

    {{>hero}}
    <section class="section">
        <div class="container narrow">
            {{>about}}
            <!-- post content -->
            {{#each this}}
            <a href="{{this.url}}.html" class="title button is-fullwidth is-dark">> {{this.title}}</a>
            
            <p>{{this.intro}}</p>
            <br>
            <br> {{/each}}

            <!-- post content -->

        </div>
    </section>
    {{>footer}}
</body>

</html>