<!DOCTYPE html>
<html>
{{>head}}

<body>
    {{>hero}}
    <section class="section">
        <div class="container narrow">
            <!-- post content -->
            <h1 class="title">{{title}}</h1>
            {{{content}}}
            <!-- post content -->
        </div>
    </section>
    {{>footer}}
</body>

</html>